@import "tailwindcss";

@theme {
  --color-brandBlue-darkest: #070F2B;
  --color-brandBlue-dark: #001f40;
  --color-brandBlue-medium: #002853;
  
  --font-family-sans: "Fustat", system-ui, sans-serif;
  --font-family-heading: "Lexend", system-ui, sans-serif;
}

body {
  @apply bg-brandBlue-darkest;
  font-family: "Fustat", system-ui, sans-serif;
}

.font-heading {
  font-family: "Lexend", system-ui, sans-serif;
}

.blur-3xl {
  filter: blur(40px);
  -webkit-filter: blur(40px);
}

@keyframes shine {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}