@import "tailwindcss";

@theme {
  --color-brandBlue-darkest: #070F2B;
  --color-brandBlue-dark: #001f40;
  --color-brandBlue-medium: #002853;

  --font-family-sans: "Geist", ui-sans-serif, system-ui;
}

body {
  @apply bg-black text-white;
  font-family: "Geist", ui-sans-serif, system-ui;
  overflow-x: hidden;
}

#root {
  overflow-x: hidden;
}

.blur-3xl {
  filter: blur(40px);
  -webkit-filter: blur(40px);
}

@keyframes shine {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}